<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
  <div class="card border-success mb-3">
    <div class="card-header"><%= template.updated_at %></div>
    <div class="card-body">
      <h5 class="card-title"><%= template.title.truncate(20) %></h5>
      <p class="card-text"><%= get_text(template.content).truncate(47) %></p>
        <p class="card-link"><%= link_to template.title.truncate(10), template_path(template), data: { turbo_frame: "right-panel" } %></p>
    </div>
  </div>
</div>
