<h1><%= t('all_list') %></h1>

<ul>
  <% @templates&.each do |template| %>
    <li><%= link_to template.title, template_path(template) %></li>
  <% end %>
</ul>

<% if current_user.admin? %>
  <div class="btn-group pt-5">
    <%= link_to t('new'), new_template_path, class: "btn btn-primary" %>
  </div>
<% end %>
