<%= turbo_frame_tag "right-panel" do %>

  <h1><%= t('new') %></h1>

  <%= render "form", template: @template %>

  <div class="btn-group pt-5">
    <%= link_to t('back'), templates_path, class: "btn btn-secondary" %>
  </div>

<% end %>
