<footer class="pt-5 d-flex justify-content-between">
    <span class="text-secondary"><%= t('.copyright') %> © 2023-<%= current_year %> <a class="link-underline-opacity-0 link-secondary" href="https://kazniisa.kz">AO "КазНИИСА"</a></span>
    <ul class="nav m-0">
        <li class="nav-item">
          <a class="nav-link text-secondary" aria-current="page" href="#">Политика конфиденциальности</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Условия и положения</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-secondary" href="#">Контакты</a>
        </li>
      </ul>
</footer>
