<h1><%= t('all_list') %></h1>

<ul>
  <% if current_user&.admin? %>

    <% @documents.each do |d| %>
      <li>
        <%= link_to d.title, d %>
      </li>
    <% end %>

  <% else %>

    <% @current_user_company_documents&.each do |d| %>
      <li>
        <%= link_to d.title, d, class: "#{'text-danger' if d.company.memberships.owner.exists?(user_id: current_user.id)}" %>
      </li>
    <% end %>

  <% end %>
</ul>

<% if can?(:create, Document) %>
  <div class="btn-group pt-5">
    <%= link_to t('new'), new_document_path, class: "btn btn-primary" %>
  </div>
<% end %>
