<h1><%= t('new') %></h1>

<%= render "form", document: @document %>

<% if current_user.admin? %>
  <div class="btn-group pt-5">
    <%= link_to t('back'), documents_path, class: "btn btn-secondary" %>
  </div>
<% end %>
