<div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
  <div class="card border-success mb-3">
    <div class="card-header"><%= project.updated_at %></div>
    <div class="card-body">
      <h5 class="card-title"><%= project.title.truncate(20) %></h5>
      <p class="card-text"><%= project.description.truncate(47) %></p>
      <p class="card-link">
        <%= link_to company_project_path(project.company, project), class: "btn btn-sm btn-outline-primary" do %>
          <span class="ms-2" title="Reading document...">Open project</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right-short" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M4 8a.5.5 0 0 1 .5-.5h5.793L8.146 5.354a.5.5 0 1 1 .708-.708l3 3a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708-.708L10.293 8.5H4.5A.5.5 0 0 1 4 8"/>
          </svg>
        <% end %>
      </p>

    </div>
  </div>
</div>
