<h1><%= t('new') %></h1>

<%= render "form", company: @company %>

<% if current_user.admin? %>
  <div class="btn-group pt-5">
    <%= link_to t('back'), companies_path, class: "btn btn-secondary" %>
  </div>
<% end %>
