<div class="card">
  <div class="card-body">
    <h1 class="card-title text-bold">Simple docs create</h1>
    <p class="card-text">Create your document using templates.
                         Doing this has never been easier.
                         Try creating your first document.</p>
    <%= link_to "Go to create DOCS <i class='bi bi-caret-right'></i>".html_safe, templates_path, class: "btn btn-primary" %>
  </div>
</div>
