<div class="row">
    <%= render 'homes/shared/nav' %>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4 py-4">
        <%= turbo_frame_tag "right-panel" do %>
            <%= render 'homes/right_panels/dashboard' %>
        <% end %>

        <%= render 'homes/shared/footer' %>
    </main>
</div>
