/* Для светлой темы */
[data-bs-theme="light"] body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/buildings.webp');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2; /* Убедитесь, что этот слой ниже */
}

[data-bs-theme="light"] body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(233, 236, 239, 0.9); /* Полупрозрачный белый */
  z-index: -1; /* Этот слой поверх фона, но под основным контентом */
}

/* Для темной темы */
[data-bs-theme="dark"] body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/assets/buildings.webp');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -2;
}

[data-bs-theme="dark"] body::after {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(52, 58, 64, 0.9); /* Полупрозрачный темный цвет */
  z-index: -1;
}


/* Для светлой темы */
[data-bs-theme="light"] .navbar {
  background-color: #e9ecef; /* светлый цвет */
}

[data-bs-theme="light"] .navbar-brand {
  color: #344767; /* темный текст для светлой темы */
}

/* Для темной темы */
[data-bs-theme="dark"] .navbar {
  background-color: #343a40; /* темный цвет */
}

[data-bs-theme="dark"] .navbar-brand {
  color: #ffffff; /* светлый текст для темной темы */
}


/* Для светлой темы */
[data-bs-theme="light"] #sidebar {
  background-color: #e9ecef;
}

[data-bs-theme="light"] .sidebar .nav-link {
  color: #495057;
}

[data-bs-theme="light"] .nav-tabs .nav-link.active {
  color: #0a58ca;
}
[data-bs-theme="light"] .nav-tabs .nav-link {
  color: #000;
}

/* Для темной темы */
[data-bs-theme="dark"] #sidebar {
  background-color: #343A40;
}

[data-bs-theme="dark"] .sidebar .nav-link {
  color: #adb5bd;
}

[data-bs-theme="dark"] .nav-tabs .nav-link.active {
  color: #0a58ca;
}
[data-bs-theme="dark"] .nav-tabs .nav-link {
  color: #adb5bd;
}

/* Для светлой темы */
[data-bs-theme="light"] .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #e9ecef;
  border-radius: 0.25rem;
}

/* Для темной темы */
[data-bs-theme="dark"] .breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  background-color: #343A40;
  border-radius: 0.25rem;
}

/* Для темной темы */
[data-bs-theme="dark"] .content {
  border: 1px solid #495057; /* рамка для визуализации */
}

/* Для светлой темы */
[data-bs-theme="light"] .content {
  border: 1px solid #dee2e6; /* рамка для визуализации */
}
